body {
    font-family: 'Roboto';
    font-size: 16px;
 
}
/************NAVBAR*********/
#wrapper{
  padding:90px 15px;
}
.navbar-expand-lg .navbar-nav.side-nav{
  flex-direction: column;
}
.card{margin-bottom: 15px; 
  border-radius:0; 
  box-shadow: 0 3px 5px rgba(0,0,0,.1); 
}
.header-top{
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  width:100%;
}

@media(min-width:992px) {
.leftmenutrigger{display: block;
  display: block;
  margin: 7px 20px 4px 0;
  cursor: pointer;}
#wrapper{
  padding: 90px 15px 15px 15px; 
}
.navbar-nav.side-nav.open {
  left:0;
}
.navbar-nav.side-nav{ 
  background: #585f66;
  box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
/*navigation*/
/*---Banner--*/
.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.border {
    background: #e1e1e1;
    height: 1px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}

   .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    background-image: url('images/number-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('images\number-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
 /* Breadcum bar */
.bread-bar {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    min-height: 40px;
    height: auto;
    width:100%;
    position: relative;
    
}
.breadcrumb {
    background: none;
    margin: 0;
    font-weight: 300;
    padding-left: 0;
    font-size: 13px;
}
.breadcrumb a {
    color: #999;
}
.breadcrumb > .active {
    color: #666;
}
.breadcrumb > li + li::before {
    content: "\203A";
    color: #fff;
    padding: 0 8px;
}

.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

.aboutus-section {
    padding: 90px 0;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.services-area {
  background-color: #f6f6f6;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #6399fd;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #6399fd;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
.single-service {
	border: 1px solid #eee;
	padding: 30px 10px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.single-service i.fa {
  width: 60px;
  height: 60px;
  background-color: #6399fd;
  font-size: 25px;
  color: #fff;
  line-height: 60px;
  text-align:center;
  margin-bottom:20px;
}
.single-service i.fa {
	-webkit-transition: .4s;
	transition: .4s;
}
.single-service:hover i.fa {
	border-radius: 50%;
}
.single-service h4 {
	text-transform: capitalize;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 500;
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-teamy .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-teamy{
  background-color:#6399fd no-repeat center top / cover;
  
}
.our-teamy .cnt-block{ 
   float:left; 
   width:100%; 
   background: #fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-teamy .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-teamy .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-teamy .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-teamy .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-teamy .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-teamy .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-teamy .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-teamy .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-teamy .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-teamy .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}
.cha {
    background:#312c2c;
}
.abtimg {
    color: #eb5e28;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-name: heartbeat;
    animation-iteration-count: infinite;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(.75);
    }
  
    20% {
      transform: scale(1);
    }
  
    40% {
      transform: scale(.75);
    }
  
    60% {
      transform: scale(1);
    }
  
    80% {
      transform: scale(.75);
    }
  
    to {
      transform: scale(.75);
    }
  }
  /*---footer ---*/

.banner-mini
{
  background : #010101;
  background : rgba(1, 1, 1, 1);
  width:100%;
}
.footer-links {
  float: left;
  color:#fff;
}
.social-links {
  float: right;
}
footer {
  width: 100%
}
 